CLIENT_ID=...
CLIENT_SECRET=...
BASE_URL=...
REDIRECT_URI=${BASE_URL}
DISCORD_OAUTH_URL=https://discord.com/oauth2/authorize?client_id=${CLIENT_ID}&response_type=code&redirect_uri=${REDIRECT_URI}&scope=sdk.social_layer_presence
ASSETS_BASE_URL=${BASE_URL}/imgs/
INFO_DIR=/app/scripts/
MII_GENERATOR_URL = ${BASE_URL}
MII_GENERATOR_SERVER=${MII_GENERATOR_URL}/miis/image.png?data=
