# 3DS Presence — Discord Rich Presence for Nintendo 3DS
# Copyright (C) 2026 3DS Presence - LeonLeBreton
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

CLIENT_ID=...
CLIENT_SECRET=...
BASE_URL=...
REDIRECT_URI=${BASE_URL}
DISCORD_OAUTH_URL=https://discord.com/oauth2/authorize?client_id=${CLIENT_ID}&response_type=code&redirect_uri=${REDIRECT_URI}&scope=sdk.social_layer_presence
ASSETS_BASE_URL=${BASE_URL}/imgs/
SCRIPTS_DIR=/app/scripts/
MII_GENERATOR_URL = ${BASE_URL}
MII_GENERATOR_SERVER=${MII_GENERATOR_URL}/miis/image.png?data=
